@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Poppins&family=Roboto:ital,wght@0,300;0,400;0,500;0,700;0,900;1,300;1,400&display=swap');

/* Global variables */
:root {
    --primary: #0ef5a8e3;
    --primary-hover: #079868e3;
    --secondary: #03dac0;
    --secondary-color: #027060;
    --secondary-hover: #039a83;
    --background-primary: #1b1f24;
    --background-secondary: #252b32;
    --font-family: 'Roboto', sans-serif;
}
body{
    font-family: var(--font-family);
    height: 2000px;
}
/* Header Section  */
.header_section{
    background-color: var(--background-primary);
}
.name{
    letter-spacing: 2px;
    font-size: 25px;
}
.name span{
    color: var(--secondary);
}
.navbar-toggler {
    border: 2px solid #0ef5a8e3;
    color: #0ef5a8e3;
}
.navMenu{
    color: white;
}
.navMenu:active,.navMenu:hover{
    color: var(--secondary);
}
/* Home Section  */
.home_section{
    background-color: var(--background-secondary);
}
.home_section p{
    max-width: 700px;
    min-width: 100px;
}
.fa-brands,.fa-regular{
    color: var(--secondary);
}
.fa-envelope:hover{
    color: #f2a60c;
}
.fa-facebook:hover{
    color: #316ff6;
}
.fa-instagram:hover{
    color: #fbad50;
}
.fa-linkedin:hover{
    color: #0077b5;
}
.fa-github:hover{
    color: #4078c0;
}
.downloadCV{
    background-color: transparent;
    border: 1px solid var(--secondary);
    color: var(--secondary);
}
.downloadCV:hover{
    background-color: var(--secondary-hover);
    color: white;
}
/* About section  */
.about_section{
    background-color: var(--background-primary);
    height: min-content;
}
.myImage {
    height: 250px;
    width: 250px;
    border-radius: 50%;
    border: 1px solid var(--secondary);
    box-shadow: 2px 2px 5px var(--secondary-color);
  }
.About_heading{
    color: white;
}
.About_heading span{
    color: var(--secondary);
}
.tab_head:active{
    background-color: var(--secondary-color);
}
.nav-pills .nav-link{
    /* background-color: var(--secondary); */
    color: var(--secondary);
}
.nav-pills .nav-link.active{
    background-color: var(--secondary)!important;
    color: #000;
}
/* .nav-pills .nav-link.active,
        .nav-pills .nav-link:focus,
        .nav-pills .nav-link:hover {
            background-color: #db9b34 !important; 
            color: #ffffff !important; 
        } */
.tab-content{
    position: relative;
    height: 350px;
    padding: 5px 10px 5px 40px;
    overflow-y: auto;
}
.tabContent span{
    color: var(--secondary);
}
.tabContent .hr-line{
    color: var(--secondary);
}
.tabContent p{
    color: #a5a2a2;
    font-size: 16px;
}
#contact a{
    color: #a8a5a5;
    text-decoration: none;
    font-size: 16px;
}
/* @media only screen and (max-width: 600px){
    .home_image{
        display: none;
    }
} */